{% extends "CEGApplicationBundle::baseLayout.html.twig" %}
{% block body %}
<div class="container">
  <div class="section">


          {{ form_start(form,{'attr':{'class':'col s12',novalidate:'novalidate'}})}}
          {{ form_widget(form._token) }}
          <div class="row">
            <div class="col-md-10">
              {{ form_errors(form) }}

                <div class="input-field col s12">
                {{ form_label(form.artclTitle,"Titre de l'article")}}
                {{ form_errors(form.artclTitle)}}
                  {{ form_widget(form.artclTitle)}}
                </div>
                  <div class="input-field col s12">
                  {{ form_label(form.artclContent,"Texte de l'article")}}
                  {{ form_errors(form.artclContent)}}
                  {{ form_widget(form.artclContent)}}
                  </div>
                  <div class="input-field col s12">
                  {{ form_errors(form.artclType)}}
                  {{ form_widget(form.artclType)}}

                  {{ form_label(form.artclType,"Type de l'article")}}
                  </div>




            </div>
            <div class="col-md-12">
                {{form_widget(form.artclPost,{'attr':{'class':'btn right orange'}})}}
            </div>
            {{ form_rest(form) }}

            {{ form_end(form)}}
          </div>
        </div>

{% endblock body %}
