{% extends "CEGApplicationBundle::baseLayout.html.twig" %}
{% block body %}
<section class="bg-primary">
  <div class="container">

    <div class="row">


      <div class="col s12 center">
        <h2 class="header blue-text">"Aux Dernières Nouvelles"</h2>
        <div class="divider blue"></div>
        <p class="grey-text text-darken-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.!</p>
      </div>
    </div>
  </div>
</section>
<section class="blue">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h2 class="header white-text">Index des Articles</h2>
        <div class="divider"></div>
        <br>
      </div>
      <div class="row">

        {% for article in pagination %}
        <div class="col s12 l6">

          <div class="card medium z-depth-3">
            <div class="card-image valign-wrapper waves-effect waves-block waves-light">
              <a href="{{ path('ceg_article_show',{'id':article.id})}}" clas="valign">
                <img  class="responsive-img " src="{{web_path}}/{{article.getHeaderArticle().getUrlWay() | default('/bundles/cegapplication/img/portfolio/2.jpg')}}" alt="">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4 left truncate">{{article.artclTitle}}</span>
            </div>
            <div class="card-action">
              <a href="{{ path('ceg_article_update',{'id':article.id})}}" class="btn orange white-text left">Mise à jour</a>
              <a href="{{ path('ceg_article_delete',{'id':article.id})}}" class="btn red right white-text">Supprimer</a>
            </div>

          </div>

        </div>

        {% endfor %}
      </div>

    </div>

  </div>
</div>
</section>
<section >
  <div class="container">


    {{ knp_pagination_render(pagination) }}



  </section>
  {% endblock body %}
