{% extends "CEGApplicationBundle::baseLayout.html.twig" %}
{% block body %}
<div class="container">
<section>
  <div class="row">
    <div class="col s12 center">
      <h2 class="section-heading blue-text text-darken-2">{{article.artclTitle}}</h2>
      <div class="divider"></div>

    </div>
  </div>
</section>
<section>
</div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        {{ article.artclContent | raw}}
        <div class="divider"></div>
        <br>
        {% for image in article.images %}
          {% if image.url != "jpeg" %}
            <a href="{{web_path}}/{{image.getUrlWay }}" class="btn orange darken-3">{{image.description | default('Fichier')}}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section>
    <div class="container">
      <br>
      <div class="row">
            {% for image in article.images %}
              {% if image.url == "jpeg" %}
        <div class="col s12 l6">
                  <img alt="{{image.description | default('')}}" src="{{web_path}}/{{image.getUrlWay }}"width="400" class="materialboxed" data-caption="{{image.description | default('')}}">
            <br>
        </div>
              {% endif %}
            {% endfor %}
      </div>
    </div>
</section>
<<script type="text/javascript">

$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
{% endblock body %}
