{% extends "CEGApplicationBundle::baseLayout.html.twig" %}
{% block body %}
<div class="container">
  <div class="section">

{{ form_start(form,{'attr':{'class':'col s12'}})}}
          {{ form_widget(form._token) }}
          <div class="row">
            <div class="col-md-10">
              {{ form_errors(form) }}
              <div class="file-field input-field col s12">

                {{ form_errors(form.file)}}
                <div class="btn">
                  <span> Fichier </span>
                  {{ form_widget(form.file)}}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
                </div>
                <div class="input-field col s12">
                {{ form_label(form.description,"Description du fichier")}}
                {{ form_errors(form.description)}}
                  {{ form_widget(form.description)}}
                </div>
                <div class="col-md-12">
                {{form_widget(form.post,{'attr':{'class':'btn right orange'}})}}
              </div>
           {{ form_rest(form) }}

           {{ form_end(form)}}
         </div>
         <br>
       </div>
     </div>
   </div>

{% endblock body %}
