{% extends "CEGApplicationBundle::baseLayout.html.twig" %}
{% block body %}
<div class="section">
  <div class="container">
    <h1 class="blue-text text-darken-2 center">Le Club</h1>
    <ul class="collapsible popout white-text" data-collapsible="accordion">
    <li>
      <div class="collapsible-header blue "><i class="material-icons">description</i>Tarifs, inscriptions et informations</div>
      <div class="collapsible-body black-text">

        <p class="bold italic large"> <u> Le dossier d'inscription pour la saison 2016/2017 comprend les éléments suivants à remplir et déposer au secrétariat ou aux Maîtres d'Armes:</u> <br> <br>
        <i class="small material-icons">label_outline</i>  Une fiche d'inscription <a href="{{web_path}}/bundles/cegapplication/doc/Formulaire d'inscription enfant 2016-2017.pdf">enfant</a>, <a href="{{web_path}}/bundles/cegapplication/doc/CEPG Fiche inscription Adultes 2016-2017.pdf">adulte</a> ou <a href="{{web_path}}/bundles/cegapplication/doc/CEPG Fiche inscription Dirigeants 2016-2017.pdf">dirigeant</a> <br>
        <i class="small material-icons">label_outline</i>  Un certificat médical rempli, daté et signé par le médecin de votre choix avec le cachet du médecin (formulaire de votre médecin ou <a href="{{web_path}}/bundles/cegapplication/doc/CEPG Certificat Medical 2016-2017.pdf">formulaire du cercle d'escrime</a>) <br>
        <i class="small material-icons">label_outline</i> 2 enveloppes timbrées à l'adresse de l'adhérent (ou 2 enveloppes timbrées par famille si plusieurs adhérents) <br>
        <i class="small material-icons">label_outline</i>  Le réglement de la cotisation annuelle pour le CEPG et de la licence pour la FFE (en espèces ou par chèque à l'ordre du C.E.P.G). Le détail sur le tarif des cotisations et des licences en fonction de la catégorie est disponible dans le document <a href="{{web_path}}/bundles/cegapplication/doc/Cotisations 2016-2017.pdf">Cotisations 2016-2017</a> <br></p>
        
        <p><u>  Pour une nouvelle inscription, 2 séances d'essai gratuites sont proposées. </u><br>
        Le <b>règlement intérieur</b> validé par le Comité Directeur le 22 août 2016 est disponible <a href="{{web_path}}/bundles/cegapplication/doc/Reglement_interieur_160822.pdf">ici</a> <br> <br></p>

      </div>
    </li>
    <li>
      <div class="collapsible-header blue"><i class="material-icons">av_timer</i>Horaires - Saison 2016-2017</div>
      <div class="collapsible-body black-text">
        <p>Les entrainements se dérouleront à la salle d'Armes intercommunale du mardi au samedi.</p>
        <p><i>Le planning suivant n'est pas encore définitif (mis à jour le 25 août 2016)</i></p>
        <div class="container">

        <table>
        <thead>
          <tr>
              <th data-field="jr">Jours</th>
              <th data-field="hr">Heures</th>
              <th data-field="ca">Catégories</th>
              <th data-field="ar">Armes</th>
              <th data-field="ni">Niveaux</th>
              <th data-field="li">Lieux</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Mardi</td>
            <td>14h00 - 17h00</td>
            <td>Horraires Amenagés</td>
            <td>Epée</td>
            <td>Tous</td>
            <td>Grasse</td>
          </tr>
          <tr>
            <td></td>
            <td>17h30 - 19h00</td>
            <td>M14</td>
            <td>Epée</td>
            <td>Loisirs</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>19h00 - 21h00</td>
            <td>Adultes</td>
            <td>Fleuret</td>
            <td>Loisirs</td>
            <td></td>
          </tr>
          <tr>
            <td>Mercredi</td>
            <td>14h00 - 15h15</td>
            <td>M9</td>
            <td>Fleuret</td>
            <td>Débutants</td>
            <td>Grasse</td>
          </tr>
          <tr>
            <td></td>
            <td>15h30 - 17h00</td>
            <td>M11</td>
            <td>Fleuret</td>
            <td>Confirmés</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>17h00 - 18h30</td>
            <td>M14</td>
            <td>Epée</td>
            <td>Compétitions</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>18h30 - 20h00 </td>
            <td>M17 et M20</td>
            <td>Epée</td>
            <td>Tous</td>
            <td></td>
          </tr>          
          <tr>
            <td>Vendredi</td>
            <td>14h00 - 17h00</td>
            <td>Horaires Amenages</td>
            <td>Epée</td>
            <td>Tous</td>
            <td>Grasse</td>
          </tr>
          <tr>
            <td></td>
            <td>17h30 - 19h00</td>
            <td>M14</td>
            <td>Epée</td>
            <td>Tous</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>19h00 - 21h00</td>
            <td>M17, M20 et Séniors</td>
            <td>Epée</td>
            <td>Tous</td>
            <td></td>
          </tr>
          <tr>
            <td>Samedi</td>
            <td>9h30 - 10h45</td>
            <td>M9 et débutants</td>
            <td>Fleuret</td>
            <td>Débutants</td>
            <td>Grasse</td>
          </tr>
          <tr>
            <td></td>
            <td>10h45 - 12h00</td>
            <td>M11</td>
            <td>Fleuret</td>
            <td>Confirmés</td>
            <td></td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header blue"><i class="material-icons">recent_actors</i>Les Maîtres d'armes</div>
      <div class="collapsible-body black-text">
        <br>
        <div class="row">
          <div class="col s2">
          <img class="responsive-img" src="{{web_path}}/bundles/cegapplication/img/Carole.jpg" style="width:125px;margin-left:10px;">
          </div>
          <div class="col s4" style="margin-left:-40px;">
            <p><b>Profession </b>:Educateur Sportif Territorial à la Communauté d'Agglomération du Pays de Grasse</p>
            <p>
              <b>Activité principale</b>:Diplôme d'Etat Supérieur d'Escrime (M° d'escrime)
            </p>
            <p>
              <b>Diplôme:</b> BPJSEP Activités Physiques pour Tous, <br>
              Arbitre National à l'épée
            </p>
          </div>
          <div class="col s2" >
          <img class="responsive-img" src="{{web_path}}/bundles/cegapplication/img/Elise.jpg" style="width:125px;">
          </div>
          <div class="col s4" style="margin-left:-40px;">
            <p><b>Profession </b>: Educateur Sportif Territorial contractuel à la Communauté d'Agglomération du Pays de Grasse</p>
            <p>
              <b>Activité principale</b>:Diplôme d'Etat Option Escrime (M° d'armes)
            </p>
            <p>
              <b>Diplôme:</b> BPJSEP Activités Physiques pour Tous, <br>
              Arbitre National à l'épée
            </p>
          </div>

        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header blue"><i class="material-icons">person_pin</i>Contacts</div>
      <div class="collapsible-body black-text">
      <div class="row">
        <div class="col s5 offset-s1">
          <b>La salle d’armes</b> :<br>
          Numéro de téléphone: 04.93.36.50.07.<br>
          Numéro de fax: 04.93.36.50.07.<br><br>
          <b>Adresse</b>: 2, rue Martine Carol - 06130 Grasse <br>
          <b>Email</b>: cercledescrimepaysdegrasse@gmail.com
        </div>
        <div class="col s6">
          <b>Maîtres d'armes</b>: <br>
          Maître Elisabeth POSTEL <br>
          Tel: 06.63.98.45.33 <br><br>
          Maître Carol GARRIDO <br>
          Tel: 06.82.84.17.07
        </div>
      </div>
    </div>
    </li>
  </ul>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.collapsible').collapsible({
    accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
  });
});
</script>
{% endblock body %}
